body
{
	padding: 0;
	margin: 0;
	font: 1em/1.4em Helvetica,Arial,sans-serif;
	color: #444;
}

ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

ul:after
{
	content: "\a";
	white-space: pre;
	display: block;
}

.microUtils
{
	margin: 0 0 0 15px;
}

.microUtils li
{
	font: .75em/1.1em Helvetica, Arial, sans-serif;
	padding: 0 5px;
	float: left;
}


